.random-beer-image-container .home-card-container {
    height: 100%;
    background-color: rgb(255 255 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 0 3px 3px;

    .home-card-container-element {
        display: flex;
         flex-direction: column;
         align-items: center; 
         width: 208px;
         height: 100%;
         max-height: 100%;
         padding: 50px 20px 0px 20px;
         overflow: hidden;
     }

}

.random-beer {

    .button-type-hover-container {
        bottom: 66px;
        cursor: pointer;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        
    } 
}

.button-random-beer{
    @include buttonFilter;
    &:hover {
        background-color: rgb(249, 206, 78);
    }  
    &:active {
        background-color: rgb(249, 217, 121);
    } 
}

.random-beer-image-container {
    display: flex;
    flex-direction: column;
}
